
{% extends 'User/header.html'%}
{% load static %}
{% block content %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Booking</h1></center>
    <br><br><br>
    <form action="" method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <table class="table">
                                <tr>
                                    <th>Name</th>
                                    <td>{{bdata.name}}</td>
                                </tr>
                                <tr>
                                    <th>Rate</th>
                                    <td>{{bdata.rate}}</td>
                                </tr>
                                <tr>
                                    <th>Details</th>
                                    <td>{{bdata.details}}</td>
                                </tr>
                                <tr>
                                    <th>Service Type</th>
                                    <td>{{bdata.service.service_name}}</td>
                                </tr>
                                <tr>
                                    <th>To Date</th>
                                    <td><input type="date" name="txt_todate" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center"><input type="submit" value="Book" class="btn btn-primary"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
{% endblock content %}