{% extends 'User/header.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h2 style="color: black">Edit Profile</h2></center>
    <form method="post" action="">
        {% csrf_token %}
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="txt_name" class="col-sm-3 col-form-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txt_name" name="txt_name" value="{{udata.name}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txt_con" class="col-sm-3 col-form-label">Contact</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txt_con" name="txt_con" value="{{udata.contact}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txt_email" class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="txt_email" name="txt_email" value="{{udata.email}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txt_address" class="col-sm-3 col-form-label">Address</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="txt_address" name="txt_address" rows="5">{{udata.address}}</textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 text-center">
                                    <input type="submit" class="btn btn-primary" name="btn_submit" value="Update">
                                    <input type="reset" class="btn btn-secondary" name="btn_cancel" value="Cancel">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
{% endblock content %}