<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Search ServiceProvider</h1></center>
    <br><br><br>
    <form action="" method="post" id="Searchseller" data-places-url="{% url 'Guest:AjaxPlace' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <tr>
                            <td>District</td>
                            <td>
                                <select class="form-control" name="select_dis" id="sel_district">
                                    <option>--select--</option>
                                    {% for i in pdata %}
                                    <option value="{{ i.id }}">{{ i.district_name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Place</td>
                            <td>
                                <select class="form-control" name="select_place" id="sel_place">
                                    <option>--select--</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
    
    <div class="container mt-5">
        <div class="row">
            {% for i,j in rata %}
            <div class="col-md-3">
                <div class="card" style="border: 1px solid black; margin: 22px; padding: 20px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.name }}</h5>
                        <p class="card-text">{{ i.contact }}</p>
                        <p class="card-text">{{ i.email }}</p>
                        
                        <a href="{% url 'User:ViewServices' i.id %}" class="btn btn-primary">View Services</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $("#sel_district").change(function () {
            var did = $(this).val();
            var ur = $("#Searchseller").attr("data-places-url");
            $.ajax({
                url: ur,
                data: { Dist: did, },
                success: function (data) { 
                    $("#sel_place").html(data);
                },
            });
        });
</script>
