{% extends 'User/header.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" id="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <table class="table table-bordered text-center">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sl.no</th>
                                <th scope="col">Name</th>
                                <th scope="col">Rate</th>
                                <th scope="col">Details</th>
                                <th scope="col">Booking Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in rdata %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ i.services.name }}</td>
                                <td>{{ i.services.rate }}</td>
                                <td>{{ i.services.details }}</td>
                                <td>{{ i.booking_date }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
{% endblock content %}