<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" id="" enctype="multipart/form-data">
        {%csrf_token %}
            <table align="center" border="1" cellpadding="10">
                <tr>
                    <td>Sl.no</td>
                    <td>Name</td>
                    <td>Rate</td>
                    <td>Details</td>
                    <td>booking Date</td>
                    
                </tr>
                {% for i in rdata %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.services.name}}</td>
                    <td>{{i.services.rate}}</td>
                    <td>{{i.services.details}}</td>
                    <td>{{i.booking_date}}</td>
                    
                </tr>
                {% endfor %}
            </table>
    </form>
</body>
</html>