{% extends 'ServiceProvider/header.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h2 style="color: black">My Profile</h2></center>
    <form action="" method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card mt-5">
                        <div class="card-body">
                            <div class="text-center mb-4">
                                <img src="{{udata.photo.url}}" alt="{{udata.photo.url}}" class="rounded-circle" width="150" height="150">
                            </div>
                            <table class="table table-bordered">
                                <tr>
                                    <td class="font-weight-bold">Name</td>
                                    <td>{{udata.name}}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Contact</td>
                                    <td>{{udata.contact}}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Email</td>
                                    <td>{{udata.email}}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">Address</td>
                                    <td>{{udata.address}}</td>
                                </tr>
                                <tr>
                                    <td class="font-weight-bold">District</td>
                                    <td>{{udata.district.district_name}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
{% endblock content %}